html, body{
    margin: 0;
    height: 100%;
}
#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#nav a {
margin-right: 20px;
}
#nav a.topimage {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    text-align: center;
}
#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
}
#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 2px solid #cccccc;
}
#searchbar:hover{
    box-shadow: 0 0 3px 2px rgb(201, 201, 201);
}
#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: #e9e9e9;
    border: 2px solid transparent;
}
#links {
    margin-top: 10px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
}
.button:hover {
    box-shadow: 0 0 2px 1px rgb(189, 189, 189);
    border: 2px solid #eee;
}